				
		* 
		{
			box-sizing: border-box;	
		}

		#content {
			float : right;
			width : 73%;
		}

		aside {
			float 			: left;
			width 			: 27%;
			padding-right   : 10px;
			padding-left 	: 2px;  
			padding-bottom  : 4px; 
			display 		: block;
			overflow 		: auto;
			margin 			: 0 auto; 
		}
		
		/* Atur Font dan Background halaman */
		body {
			font-family : 'mulish', sans-serif;
			margin 		: 0;
			padding 	: 0;
		}

		.profile img {
			margin-left 	: auto;
			margin-right 	: auto;
			max-height 		: 265px;
			width 		 	: 100%;
			border-radius 	: 45%;
		}

		.card {
			box-shadow 	  	: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			border-radius 	: 5px;
			padding 		: 20px;	
			margin-top 		: 20px;

			text-align 	 	: justify ;
			text-justify 	: inter-word;

		}

		.profile header {
			text-align 		: center;

		}

		.featured-image {
			width 			: 100%;
			max-height 		: 450px;
			object-fit 		: cover;
			object-position : center;
			overflow 		: auto; 
		}

		.jumbotron {
			font-size 		: 20px;
			padding 		: 60px;
			background-color: #5F9EA0;
			text-align 		: center;
			color 			: white;
		}

		main {
			padding 		: 20px;
			overflow 		: auto;
			justify-content : center;
		}

		header {
			display 	: inline;
			position 	: sticky absolute;
			top 		: 0;
		}

		nav {
			background-color: #008080;
			padding 		: 5px;
			position 		: relative;
			top 			: 0;
			text-align 		: center; 
			display 		: block;
		}

		nav li {
			display 		: inline;
			list-style-type : none;
			margin-right 	: 20px;
			padding 		: 5px 10px; 
		}

		nav a {
			background-color 	: #008080;
			padding 			: 20px;
			font-size 			: 20px;
			font-weight 		: 800;
			text-decoration 	: none;
			color 				: white;
			margin 				: 0 auto;
			display 			: inline-block;
			text-align 			: center;  
		}

		nav a:hover {
			font-weight 		: bold;
			color 				: silver;
		}
			
		h2, h3 {
			color : #5F9EA0;
		}

		section {
			overflow 		: auto;
		}

		aside h2,
		aside p,
		aside figcaption {
			text-align 	: center;
		}

		article p {
			text-indent 	: 2em;
			overflow 		: auto;
			padding-bottom 	: 29px;
		}
		
		article h3 {
			color 		 	: #5F9EA0;
			border-bottom 	: 4px solid #ccc;
			padding-bottom 	: 15px;
		}

		footer {
			padding 		: 20px;
			color 			: white;
			background-color: #5F9EA0;
			text-align 		: center;
			font-weight 	: bold;
		}

		@media (max-width: 800px) {
		#content,
		aside {
			width    		: 100%;
			padding 		: 5px;
			}
		}
